<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/fragments/resources :: headResources('La Tua Pizzeria')"></head>
<body>

<h1>La tua pizzeria</h1>

<div class="container">
    <table class="table table-dark table-borderless">

        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Image</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pizza : ${pizzaList}" th:object="${pizza}" class="col-2">
            <td th:text="*{id}"></td>
            <td th:text="*{name}"></td>
            <td th:text="*{description}"></td>
            <td><img class="d-block h-25 w-25" th:src="*{imageUrl}"></td>
            <td th:text="*{price}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>