<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:insert="fragments/resources :: headResources('Pizza List')"></head>
<body>
<nav th:replace="fragments/navbar :: topNavbar('pizzas')"></nav>
<div class="container">
    <div style="margin-top:2rem;" th:object="${pizza}">
        <dl style="margin-left:33%;">
            <dt>Name</dt>
            <dd th:text="*{name}"></dd>
            <dt>Image</dt>
            <img class="d-block h-25 w-25" th:src="*{imageUrl}">
            <dt>Price</dt>
            <dd th:text="*{price}"></dd>
            <dt>Description</dt>
            <dd th:text="*{description}"></dd>
        </dl>
        <div style="margin-left:33%;" class="mt-2">
            <a th:href="@{/pizzas}" class="btn btn-secondary">Back to list</a>
        </div>
        <div class="col-4">
            <h3>Categories</h3>
            <ul th:if="*{ingredients.size() > 0}">
                <li th:each="ingredientObj : *{ingredients}" th:text="${ingredientObj.name}"></li>
            </ul>
            <div th:unless="*{ingredients.size() > 0}" class="alert alert-info">The list is empty</div>
        </div>

        <section sec:authorize="hasAuthority('ADMIN')">>
            <h2>discount
                <a
                        th:href="@{/discounts/create(pizzaId=*{id})}"
                ><i class="fa-solid fa-circle-plus"></i></a>

            </h2>

            <table class="table">
                <thead>
                <tr>
                    <th>Start date</th>
                    <th>Expire date</th>
                    <th>discount</th>

                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="discount : *{discounts}" th:object="${discount}">
                    <td th:text="*{startDate}"></td>
                    <td th:text="*{finishDate}"></td>
                    <td th:text="*{title}"></td>
                    <td>
                        <a
                                class="btn btn-primary"
                                th:href="@{/discounts/edit/{id}(id=*{id})}" title="edit">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <form method="POST" th:action="@{/discounts/delete/{id}(id=*{id})}"
                              onsubmit="return confirm('Are you sure?')">
                            <button type="submit" class="btn btn-secondary"><i class="fa-solid fa-trash-can"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
    </div>
</div>

</body>
</html>