<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="isEdit=${discount.id != null}">
<head
        th:insert="fragments/resources :: headResources(${isEdit ? 'Edit Discount' : 'Create Discount'})"></head>
<body>
<nav th:replace="fragments/navbar :: topNavbar('pizzas')"></nav>
<div class="container">
    <h1 th:text="${isEdit ? 'Edit Discount' : 'Create Discount'}"></h1>
    <!--<h2 class="text-muted" th:text="${discount.pizza.title}"></h2>-->
    <hr>
    <form
            th:with="actionUrl=${isEdit ? '/discounts/edit/' +discount.id : '/discounts/create'}"
            id="discount-form"
            th:action="@{${actionUrl}}"
            method="POST"
            th:object="${discount}"
            class="row"
    >
        <!-- hidden fields -->
        <input type="hidden" th:field="*{pizza}">
        <div class="col-12"
             th:insert="fragments/components :: formField('text', 'title', 'title')"></div>
        <div class="col-6"
             th:insert="fragments/components :: formField('date', 'Start Date', 'startDate')"></div>
        <div class="col-6"
             th:insert="fragments/components :: formField('date', 'finish Date', 'finishDate')"></div>

        <!-- actions -->
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Save</button>
            <a th:href="@{/pizzas/show/{pizzaId}(pizzaId=*{pizza.id})}" class="btn btn-primary">Cancel</a>
        </div>
    </form>
</div>
</body>
</html>